<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>1601Hibernate的初始化</display-name>
  <servlet>
    <display-name>QueryEmployee</display-name>
    <servlet-name>QueryEmployee</servlet-name>
    <servlet-class>servlet.QueryEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryOneEmployee</servlet-name>
    <servlet-class>servlet.QueryOneEmployee</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>servlet.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryEmployee</servlet-name>
    <url-pattern>/QueryEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryOneEmployee</servlet-name>
    <url-pattern>/QueryOneEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>QueryEmployee</welcome-file>
  </welcome-file-list>
</web-app>